name: Test Run
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
jobs:
  test_run:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.303'
      - name: Run
        run: |-
          dotnet restore
          dotnet run
